.news {
  width: 100%;
  height: 240px;
  background-color: #f8f8f8;
  text-align: center;
  background-image: url(../pics/newsletter.svg);
  background-repeat: no-repeat;
  background-position: left top;
  position: relative;
  box-sizing: border-box;
  border-radius: 5px;
  margin-bottom: 100px;
}
.news .email {
  all: unset;
  display: inline-block;
  width: 655px;
  height: 75px;
  background-color: white;
  text-align: center;
  line-height: 73px;
  border-radius: 35px;
  position: absolute;
  left: calc(50% - 655px / 2);
  bottom: -32px;
}
.news .email .email-item {
  display: inline-block;
  font-family: yekan;
}
.news .email input {
  all: unset;
  width: 450px;
  height: 55px;
  border-radius: 35px;
  background-color: #f8f8f8;
  margin-left: 17px;
}

.news .email button {
  all: unset;
  margin-right: 10px;
  font-size: 18px;
  width: 140px;
  height: 55px;
  text-align: right;
  box-sizing: border-box;
  padding-right: 15px;
  border-radius: 35px;
  display: inline-block;
  vertical-align: middle;
  line-height: 20px;
  background-color: #00bf6f;
  color: white;
}
.news .email button .fa-arrow-left {
  display: inline-block;
  vertical-align: middle;
  font-size: 20px;
  text-align: left;
  padding-right: 45px;
}
